<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Mridangam</h1>

                  <p>The mridangam, also known as Tannumai, is a percussion instrument from India of ancient origin. </p>
                  <p>The mridangam is a double-sided drum whose body is usually made using a hollowed piece of jackfruit wood about an inch thick.</p>
                  <P>It is the primary rhythmic sound track in a Carnatic music cast.
                  The word "Mridangam" is Sandhi or union of the two Sanskrit words mŗt (clay or earth) and anga (limb), as early Mridangam were made of hardened clay. 
                  he mridangam is a double-sided drum (same like Tabla) whose body is made up of hollow piece of jack fruit wood about an inch thick. The two sided of the hollow jack fruit wood is covered a goatskin and laced to each other with leather straps around the circumference of the drum. These straps are put into a state of high tension to stretch out the circular membranes on either side of the hull, allowing them to resonate when struck. 
                </P>
                
    
                </div>
            </div>
        </div>
</div>