<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Hindustani</h1>
                  <p>Hindustani classical music is the art music of northern regions of the Indian subcontinent.</p>
                    <p>It is also called as North Indian classical music or “Śāstriya Saṅgīt”.</p>
                    <p>Hindustani music spots more prominence on spontaneity and exploring all aspects of a raga, while Carnatic music is primarily composition-based. The central notion in both these systems is that of a melodic raga, sung to a rhythmic cycle or tala.  It is melodic music, with no concept of harmony.
                    Indian classical music has seven basic notes with five interspersed half-notes, resulting in a 12-note scale. Unlike the 12-note scale in Western music, the base frequency of the scale is not fixed, and intertonal gaps may also vary. The performance is set to a melodic pattern called a raga characterized.
                    </p>
    
                </div>
            </div>
        </div>
</div>