<!-- Footer starts -->

<div class="footer">
    <div class="container">
        <div class="row">
            <!-- about-us -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">About Us</h3>
                    <p>Shobha Dance School, Fitness Center and Event Company was found in 12-05-2012 by Shreyas and team with...</p>
                    <a [routerLink]="['/aboutus']" [routerLinkActive]="'active'" class="btn-link mb20">
                        <i class="icon-right-arrow"></i>&nbsp;more about us</a>
                </div>
            </div>
            <!-- /.about us -->
            <!-- footer-useful links -->
            <div class=" col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Quick Links</h3>
                    <ul>
                            
                        <li><a [routerLink]="['/home']" [routerLinkActive]="'active'" >Home</a></li>
                        <li><a [routerLink]="['/aboutus']" [routerLinkActive]="'active'">About Us</a></li>
                        <li> <a [routerLink]="['/video']" [routerLinkActive]="'active'">Video</a></li>
                        <li><a [routerLink]="['/contact-us']" [routerLinkActive]="'active'" >Contact us</a></li>
                        
                        <!-- <li><a href="#">About</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Tutor</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- /. footer-useful links -->
            <!-- footer-classes -->
            <div class=" col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Classes</h3>
                    <ul>
                        <li><a [routerLink]="['/services/instrument/guitar']"  >Instrument</a></li>
                        <li><a [routerLink]="['/services/vocal/carnatic']" >Carnatic</a></li>
                        <li><a [routerLink]="['/services/dance/bharatanatyam/bharatanatyam']" >Dance</a></li>
                        <li><a [routerLink]="['/services/fitness/zumba']" >Fitness</a></li>
                        <li><a [routerLink]="['/services/event/dance-choreography']">Event</a></li>
                        <!-- <li><a href="#">acting</a></li>
                        <li><a href="#">Dance</a></li>
                        <li><a href="#">Singing</a></li>
                        <li><a href="#">modeling</a></li>
                        <li><a href="#">choreography</a></li>
                        <li><a href="#">photography</a></li>
                        <li><a href="#">image Grooming</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- /.footer-classes -->
            <!-- footer-classes -->
            <div class=" col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Locations</h3>
                    <ul>
                        <li><a href="#">#19, 152/1 SRS Nilaya, 3rd cross, Doddanekkundi, Marathalli(P), Bangalore - 560037</a></li>
                        <!-- <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">Boston</a></li>
                        <li><a href="#">Washington</a></li>
                        <li><a href="#">Houston</a></li>
                        <li><a href="#">Denver</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- /.footer-classes -->
            <!-- footer-useful links -->
            <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Newsletter
                    </h3>
                    <p class="newsletter-text">Signup this newsletter for getting our workshops information.</p>
                    <div class="newsletter-section">
                        <!-- Text input-->
                        <form>
                            <div class="newsletter-form">
                                <input type="text" class="form-control mb20" placeholder="Search Here">
                                <button type="Submit" class="btn btn-primary btn-xs">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.footer-useful links -->
        </div>
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-social">
                    <div class="">
                        <a href="#" class="btn-social btn-facebook"><i class="fab fa-facebook"></i><span
                                class="footer-social-text">Facebook</span></a>
                        <a href="#" class="btn-social btn-twitter"><i class="fab fa-twitter"></i><span
                                class="footer-social-text">Twitter</span> </a>
                        <a href="#" class="btn-social btn-googleplus"><i class="fab fa-google-plus"></i><span
                                class="footer-social-text">Google Plus</span></a>
                        <a href="#" class="btn-social btn-instagram"><i class="fab fa-instagram"></i><span
                                class="footer-social-text">Instagram</span></a>
                        <a href="#" class="btn-social btn-linkedin"><i class="fab fa-linkedin"></i><span class="footer-social-text">linkedin</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Ends -->

<!-- Tiny Footer  starts-->
<div class="tiny-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="mute-text">Copyright © All Rights Reserved 2020. Template Design by
                    <a href="https://splexinov.com/" target="_blank" class="copyrightlink">Splexinnovation</a></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
    <!-- /. tiny-footer -->
</div>