.carousel-caption {
    background: rgba(20, 20, 20, 0.9);
    padding: 30px;
    margin: 0px 20px 20px 18px;
}
.slider-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.carousel-item {
    height: 800px;

}
