<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h1 class="mb30">Drums</h1>
                  <p>Drums comes under percussion group of musical instrument family. Percussion instrument means that is sounded by hitting the membrane of the surface using stick or hand. One side of the drum is made up of membrane called drumhead which is made by drum skin that is stretched over a shell and struck, either directly with the player's hands, or with a drum stick. The pitch of the sound changed based on the place you hit on the drum head.
                    Drums are the world's oldest and most ubiquitous musical instruments, and the basic design has remained virtually unchanged for thousands of years.</p>
                    <p>Usually drums are played either by hitting(striking) hand or with the help of single or double stick with or without stuffing. There are many type of sticks we used to strike drums, including wooden sticks and sticks with soft beaters of felt on the end. In jazz, some drummers use brushes for a smoother, quieter sound. 
                    </p>
                    <p>Drums are also used in music therapy, mainly hand drum , because of their tactile nature and easy use by a wide variety of people.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="float:left;">
                    <img alt="AltText3" src="assets/images/Img/drums.jpeg" class="img-responsive">
                   
                  </div>
            </div>
        </div>
</div>