<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Bharatnatyam</h1>
                    Bharatnatyam, an acronym from the three words – Bha (Bhava), Ra (Raga or melody), Ta (Talam or rhythm) arise from ancient state of India “Tamil nadu”.
Bharatnatyam in its unescorted form with which we are now familiar and as we see it on time today is indeed an original classical Indian dance form. 
The present day Bharatnatyam come into sight to have grown from the form of dances widespread from Tamil Nadu to parts of India and all over the world.

    
                </div>
            </div>
        </div>
    </div>