<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Yoga</h1>
                    <p>Yoga in Sanskrit means Yog, is a group of physical, mental and spiritual which comes with regular practice and disciplines. It was originated in ancient India. Yoga are also classified into different categories and we can achieve multiple benefits from the Yoga like we can achieve flexibility,  strength, relaxation in our body with the regular practice.  Most types focus on learning poses, called asanas. They also usually include attention to breathing. Many studies have proved only with 8 weeks of regular practice, you can start observing the change. 
                      But even less vigorous styles of yoga, such as Iyengar or hatha, can provide strength and endurance benefits.</p>
                    <p>There are many forms of poses, such as downward dog, upward dog, and the plank pose, build upper-body strength. The standing poses, especially if you hold them for several long breaths, build strength in your hamstrings, quadriceps, and abs. Basically different poses perform for the different tasks.</p>
                    
                    <p>Before starting to Yoga, person should know about it because wrong pose will lead to wrong effect. So with high professional it should be started. With Shobha, we hire professional and we do mentor each individual. See their postures and how it formed, so that negative effect should not start
                    </p>
                </div>
            </div>
        </div>
</div>