<div class="pdt80 pdb80">
    <div class="container">
  
      <!-- typography -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                   <p> Bollywood:
                    What is it about?
                    The term Bollywood came from the combination of “Bombay” which is now Mumbai, a cosmopolitan centre of India. Over the past few decades Bollywood films have become their own distinct entity.
                    How long has it been around?
                    Bollywood dance is about 102 years old. It is into existence since the 1st Bollywood movies were premiered which was on 1913.
                    Global perspectives:
                    One way to look at Bollywood  dance from a global perspective is to recognize it as a hybrid, globalized form even in its original authentic state.
                    The great contributor to the global spread of Bollywood film and dance is the growth of India as world power.
                    The prevalence of India in today’s world makes it a driving culture force that is recognized at festivals and award ceremonies internationally.
                    Bollywood dance into their own repertoire creates a fusion of styles and expands the vocabulary accessible to both dancer and choreographer.
                    Conclusion:
                    The exposure to this dance form not only provides opportunities for individuals to learn more about dance, but may inspire people o learn about tradition and develop a better understanding, respect for other cultures.
                    Why us?
                    Our trained Instructors can make adoptions to the dance style or use the movements from Bollywood as inspiration for a different piece of choreography.
                    </p>

            </div>
        </div>
    </div>
</div>