<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    Zumba
                    What is it about?
                    It is best described as a fun, Joyful, Latin inspired fitness class that combines all the rhythms in Latin music. Zumba applies dance moves from salsa, Cumbia, Rumba and Belly dance.
                    Movements under it?
                    Zumba is an internal workout. The class moves between high and low intensity dance moves designed to get your heart rate up and boost cardio endurance. Many of the dance steps used in the routines emphasize the hips and midsection to help strengthen the core. It is also has an impact on the organs like Arms, Legs, Glutes, and Back. It is a powerful exercise which helps burn 600 to 1000 Calorie in just an hour.
                    How long it has been?
                    It was founded in 1998 by Perez “Beta” in Cali, Colombia. This form of dance is said to be the result of a “Happy accident”. Beta was on his way to teach an aerobic class and realized he’d forgotten his music. He didn’t have time to double back and get it,  so he improvised using the Salsa and Merengue tapes he happened to have on him.
                    Global Perspectives
                    Zumba fitness has quickly grown to one of the most popular group exercise classes on the planet. Infact the Latin dance inspired workout is reportedly performed by more than  12 million people at 110,000 sites in 125 countries around the world. “Ditch the workout” – Join the party is the marketing slogan for Zumba fitness.
    
    
                </div>
            </div>
        </div>
</div>