<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Carnatic</h1>
                    <p> Music <b>Karnatak music</b> or <b>Karnataka Samgita</b> is a part of southern Indian subcontinent of music, mainly from the region of Karnataka, Andhra Pradesh, Telangana, Tamil Nadu.

                      India has a rich classical music tradition that is around 5 thousand year ago. Carnatic music is considered as one of the oldest music system of the world.
                      
                      The Indian (later called the 'Carnatic' from the days of the work Manasollasa.
                      
                      Karnatak music is characterized by an absence of purely instrumental compositions. The vocal form referred to as a Ragam-Talam-Pallavi is generally the main item Karnataka kacheri.
                      </p>
                </div>
            </div>
        </div>
</div>