<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Kalaripayattu</h1>
                  <p>Kalaripayattu sometimes called as Kalari is an Indian martial art which was originated
                    in Kerela. Kalaripayattu is held in high look on due by martial artists due to its long-standing history within Indian martial art. It is an oldest surviving art in India still in existence from the 3rd century BCE. Kalaripayattu is a martial art designed for the ancient battlefield (the word "Kalari" meaning "battlefield"), with weapons and combative techniques that are unique to India. Kalaripayattu possess intricate knowledge of pressure points on the human body and healing techniques that incorporate the knowledge of Ayurveda and Yoga.
                    Students are taught the martial art as a way of life, with a sense of compassion, discipline, and respect toward the master, fellow-students, parents and the community.
                    </p>
                </div>
            </div>
        </div>
</div>