<div class="pdt80 pdb80">
  <div class="container">

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="mb30">Video Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum
              is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing
              elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum
              dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et
              euismod sed nunc. </p>
          </div>
        </div>    
    
        <div class="row pdt80">
          <div class="col-md-8">
            <div class="row">
                <a class="col-sm-4" *ngFor="let item of videoGallery" [attr.data-title]="item.modalTitle"
                [attr.data-footer]="item.modalFooter" data-gallery="example-gallery" data-toggle="lightbox"
                [attr.href]="item.videoUrl">
                <img class="img-fluid" src={{item.img}}>
              </a>
            </div>
          </div>
        </div>

    <!-- typography -->
    <!--<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="mb30">Video Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum
          is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing
          elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum
          dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et
          euismod sed nunc. </p>
        <p class="lead">Consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod
          sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu
          lacus impsus erat vitae dictum nusmod sed nuncroin vel rhoncus maurisuisque mattism ipsum dolor sit amet
          consectetur adipiscing elit.</p>
        <h1>Heading Title Here</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum
          is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing
          elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum
          dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et
          euismod sed nunc. </p>
        <h2>Heading Title Here</h2>
        <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod
          sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu
          lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
        <h3>Heading Title Here</h3>
        <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod
          sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu
          lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
      </div>
    </div>-->
  </div>
</div>