<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Hip Hop</h1>
                    Hip Hop:
What is it about?
The word “Hip Hop” was a part of the African American language since 1904. This dance form refers to Street dance styles primarily performed to “ Hip-hop” Music. This Dance form includes a wide range of styles Primarily Breaking, Locking, and Popping which were created in 1970s and made popular by dance crews in Unitedstates.
How long it has been?
Hip Hop was born on August 11, 1973 began in South Bronz, New York and was originated in black and latin communities.
Movements under it.
It is characterized by violent movement of the body.
It is a muscle moving workout that involves rolling of hips, waist and pelvic. Popping which is an abdominal workout.
Purpose of this dance form ?
The main purpose of this dance from was to gather the audience and entertain the crowd of people
It is officially done on streets and known as the most popular street dance.
It  refers to street dance style primarily performed to hip hop music that have evolved has a part of hip hop culture.
It includes a wide range of styles primarily breaking, locking, popping which were created in the 1970s and was made popular by dance crews in the U.S.
Locking:  It is a dramatic movement most often linked with funk music. It was created in the 1960s by Don Campbell whose technique was originally coined “Campbellocking.” Popularized by Michael Jackson. The move involves suddenly freezing mid motion and locking your joints.
Popping: It is often associated with locking, is a jarring, chopping motion that uses unique angles. The famous robot dance is considered part of the popping style. The Movement began in Fresno, California in the 1970s and has remained a style with a lot of freedom of improvisation. 
    
                </div>
            </div>
        </div>
</div>