<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Contemporary</h1>
                  <p>Contemporary dance is a form of dance that was originated during the mid-twentieth century and has since grown to become one of the ruling genres for formally trained dancers throughout the world. With the combination of classical, modern and jazz style, , it has since come to incorporate elements from many styles of dance. Since as it is originated with the combination, sometimes it is often perceived to be closely connected to modern dance , classical dance style.</p>
                    <p>It combine the strong but controlled legwork of ballet with modern that stresses on torso. It also engage contract-release, floor work, fall etc and change in the rhythms, speed etc.</p>
                    
                    <p>So while practising we need to take care in a very strict way that’s where Shobha come’s into play. Landing Shobha is your right choice.
                    </p>
    
                </div>
            </div>
        </div>
</div>