<div class="pdt80 pdb80">
    <div class="container">
  
      <!-- typography -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h1 class="mb30">About Us</h1>

              <h2>About Shobha's Dance School, Fitness Center and Event Company</h2>
              Shobha Dance School, Fitness Center and Event Company was found in 12-05-2012 by Shreyas and team with a sight of presuming calibre of pedagogy in the field of dance and fitness with a broader Mindset of event management. Shobha's stands for professional infrastructure at affordable prices in India.
            </div>
        </div>
    </div>
</div>