<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Dance Choreography</h1>
                  <p>Choreography, In dance is fine art of step by step design. Dance choreography which is sometimes means of dance script and also called as dance construction.</p>
                    <p>Feature of dance choreography comprise of the compositional use of nuclear unity of steps to design a complete flow, rhythmic or non-rhythmic articulation, theme and variation, and repetition which may include for the purpose of developing innovative movement of idea. In general, choreography is used to design dances that are intended to be performed as concert dance. 
                    choreography involves the specification of human movement and form in terms of space, shape, time and energy, typically which includes emotional or non-literal context. </p>
                    <p>There are many forms of dance choreography like ballet, contemporary dance, hip-hop dance, folk dance, techno dance, religious dance etc
                    </p>
    
                </div>
            </div>
        </div>
</div>