<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h1 class="mb30">Keyboard</h1>

                  <p>A musical keyboard is the set of adjacent keys on a musical instruments. Keyboards consistently hold keys for playing the twelve notes of the Western
                    Musical scale(In music theory, a scale is any set of musical notes ordered by fundamental frequency or pitch. A scale ordered by increasing pitch is an ascending scale, and a scale ordered by decreasing pitch is a descending scale), with a combination of larger white and smaller black keys that duplicate at the interval of octave. Pressing and depressing key on the keyboard make the instrument build sounds either by mechanically striking a string or tine.
                      Internally when we press a key on keyboard, internally strike a string, which causes air to flow through the pipe organ striking a bell. </p>
                    
                    <p>The sur in the keyboard in English we say as C, D, E, F, G, A, B and hindi as “sa”, “re”,”ga”,”ma”,”pa”,”dha”,”ni”,”sa”. ecause these keys were traditionally covered in ivory they are often called the white notes or white keys. 
                    
                    </p>
    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="float:left;">
                    <img alt="AltText3" src="assets/images/Img/piano.jpeg" class="img-responsive">
                   
                  </div>
            </div>
        </div>
</div>