<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Kathak</h1>

                  <h3>What is it about?</h3>
                  <p>Kathak is one of the main genres of ancient Indian classical dance and is traditionally regarded to have originated from the traveling bards of North India referred as Kathakars or storytellers. It is, one of the most elegant dance forms of Indian, revolves around the concept of storytelling. An art form with incomprehensible charm, dazzle footwork, and dignified movements, Kathak figures among the eight Indian classical dance forms and is the only dance form from northern India.
How long it has been?
The roots of this dance form trace back to Sanskrit Hindu text on performing arts called ‘Natya Shastra’ written by ancient Indian theatrologist and musicologist Bharata Muni.  It is presumed that the first complete version of the text was completed between 200 BCE to 200 CE, but some sources mention the timeframe to be around 500 BCE and 500 CE. Thousands of verses structured in different chapters are found in the test that divides dance in two particular forms, namely ‘Nrita’ that is pure dance which comprise of fitness of hand movements and gestures, and ‘nritya’ that is solo expressive dance that focuses on expressions. Kathak has over time evolved into three styles namely Classical, Contemporary, and Sufi. </p>
<h3>Global Perspectives:  </h3>
<p>The revival movement of Kathak developed both in the Hindu and Muslim gharanas simultaneously, especially in the Kathak mishra community. Kalkaprasad Maharaj played an instrumental role in drawing internationally viewership of Kathak in the early 20th century.</p>

    
                </div>
            </div>
        </div>
</div>