<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Public Event</h1>
                    <p>Public event can be classified into happening, festivity, concert, exhibition, open days, road show etc.</p>
                      <p>Basically purpose of this event is either to provide the information or message to the community in a medium or to promote product, movies, promote movie, conducted for the purpose of attracting revenue, support, awareness, and/or for entertainment purposes, and created by and/or for the general public is generally referred to as a public event.</p>
                      
                      <p>Your choice is correct as you landed to Shobha event company.
                      </p>
                </div>
            </div>
        </div>
</div>