<div class="pdt80 pdb80" >
        <div class="container">
               
                <!-- typography -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="mb30">Dance One page</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunc. </p>
                        <p class="lead">Consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae dictum nusmod sed nuncroin vel rhoncus maurisuisque mattism ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <h1>Heading Title Here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunc. </p>
                        <h2>Heading Title Here</h2>
                        <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
                        <h3>Heading Title Here</h3>
                        <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>box</h2>
                        <div class="box">
                            <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit.imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. </p>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- /.typography -->
                <!-- list -->
                <!-- <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="mb30">List</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h2>Unordered</h2>
                        <div class="unordered">
                            <ul class="angle angle-right">
                                <li>Dolor pulvinar etiam.</li>
                                <li>Sagittis lorem eleifend.</li>
                                <li>Felis feugiat dolore viverra.</li>
                                <li>Dolor pulvinar etiam.. </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h2> Ordered </h2>
                        <div class="ordered">
                            <ol>
                                <li>Dolor pulvinar etiam.</li>
                                <li>Sagittis lorem eleifend.</li>
                                <li>Felis feugiat dolore viverra.</li>
                                <li>Dolor pulvinar etiam.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h2>Altenate</h2>
                        <div class="altenate">
                            <ul>
                                <li>Dolor pulvinar etiam.</li>
                                <li>Sagittis lorem eleifend.</li>
                                <li>Felis feugiat dolore viverra.</li>
                                <li>Dolor pulvinar etiam.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr> -->
              
              
               
            </div>
</div>