<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Gymnastic</h1>
                  <p> Physical fitness was a highly valued attribute in both men and women that can be accomplished by a sport that need exercises requiring concentration  balance, strength, flexibility,  agility, coordination, and endurance and full dedication. Such activities or movements involved in gymnastics that contribute for the development of the arms, legs, shoulders, back, chest, and abdominal muscle groups.  Besides these ,  self-confidence, and self-discipline awarness, exactness, boldness, are mental traits that can also be evolve through gymnastics. 
                    The most common form of competitive gymnastics is artistic gymnastics.</p>
                    <p>Basically with Shobha monitor system which take care of each individual while doing training and provide perfect mentorship, tries to help each individual.
                    </p>
                </div>
            </div>
        </div>
</div>