<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Appreciation Event</h1>
                    <p>Appreciation event could be classified into many categories like Client, Employee, Member, Customer, Annual etc. </p>
                      <p>Basically appreciation in other words we can say that remembrance, it is a way to appreciate the person towards his/her labour what he has done. It’s a way to retain, impress and make thankful loyal person or customer. An exceptional event will solidify your relationship with your customer, person etc. base, and it will remind them why they do business with your company in the first place.</p>
                      <p>It should be pre-plan before from the 3 month before event date in an ideal condition. In the normal process we need to decide the agenda for the event, goal, budget, date, venue, caterer, decorator etc.</p>
                    <p>With Shobha we design to make it remembrance for the individual or group like client to improve relationship. We provide a full full-fledged pre-design to make it successful.
                    </p>
                </div>
            </div>
        </div>
</div>