<div class="pdt80 pdb80">
  <div class="container">

    <!-- typography -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <h1 class="mb30">Guitar</h1>
        <img alt="AltText3" src="assets/images/Img/Guitar.jpeg" class="img-responsive pinside15 pull-right">
        <p>   A flat-bodied stringed musical instrument with a long fretted neck and usually six strings played with a
          pick or with the fingers.
          It is played using both the hand by strum the string with either a guitar pick or the finger(fingernails) of
          one hand, while simultaneously pressing the strings against the frets
          with the fingers of the other hand. Due to the vibrating string a sound will be produced, by means of the
          hollow chamber of the guitar body.
        </p>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">

        <h2>There are two type of guitar used  </h2>



        <h3>1. electric</h3>

        Electric guitar which convert vibration of string into electrical signal. The vibration occurs when we pick the
        string using our fingernails. he electric signal can be electronically make changes to change the timbre of the
        sound.<br/>

<br/>
        <h3>2. acoustic</h3>
        <p>An acoustic guitar is a musical instrument in the guitar type of guitar, that produces the sounds of its
          vibrating string acoustically through the air using the hollow part of guitar.</p>


      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
        <img alt="AltText3" src="assets/images/Img/Guitar.jpeg" class="img-responsive">

      </div> -->
    </div>
  </div>
</div>