<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img alt="AltText2" src="assets/images/Img/logo.jpg" class="img-responsive">
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img alt="AltText3" src="assets/images/Img/DSC06574.JPG" class="img-responsive">
              </div>
          </div>
        </div>
      </div>