<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Tabla</h1>
                  <p>Table is a musical instrument which is Indian origin, which produces sound by vibrating stretched membrane(An acoustic membrane is a thin layer that vibrates and is used in acoustics to produce or transfer sound, such as a drum, microphone, or loudspeaker.) . consisting of a pair of drums, used in traditional, classical, popular and folk music. It is an important musical in Hindustani music instrument since 18 century. </p>
                  <p>The name tabla likely comes from tabl, the Persian and Arabic word for drum.  The tabla consists of two single-headed, barrel-shaped small drums of slightly different size and shape: daya also called dahina meaning right (also called "tabla"), and baya also called bahina meaning left (also called "dagga"). The daya tabla is played by the musician's right hand (dominant hand), The baya tabla is a bit bigger and deep kettledrum shaped which is played by left hand. Both the side is made by hollowed out wood or clay or brass, the daya drum laced with hoops, thongs and wooden dowels on its sides. The dowels and hoops are used to tighten the tension of the membrane.</p>
                    <p>The person who is playing uses his hand's heel pressure to change the pitch and tone colour of each drum during a performance.
                    </p>
    
                </div>
            </div>
        </div>
</div>