<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Ceremonial Event</h1>
                  <p>A ceremony event can be classified into many forms based on ritual significance in family or special occasion in corporate like birth, initiation(college orientation), puberty(physical changes though which child body mature into adult), graduation, union, awarding, retirement, grand opening(mall, hospital, school, college etc) etc.

                    <p>Ceremony process may include a physical display, theatrical component, dance, procession etc.
                    </p>
                    <p>
                    To make ceremony extra ordinary, Shobha event company come with many unique idea’s based on the type of event and number of audience and ceremony need to make it successful.
                    </p>
    
                </div>
            </div>
        </div>
</div>