<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Sangeeth</h1>
                  <p> In Indian culture,  “Sangeet “ means  music. Which people they plan in wedding which translate to music event when a bond start in between two family many form of event are organised to celebrate which tries to resolve their barrier from both the families and mingle both the families to understand each other views in a fun ambience which is held a day before the wedding. It can be organised in many ways to make it interactive. </p>
                  <p>With Shobha event company we designed this event with heart, to make it very successful and in a iterative ways as it come in every one life one time. We want to make it special for both the families and two of the main special person to make it remembrance.</p>
                </div>
            </div>
        </div>
</div>