<app-carousel></app-carousel>


<div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40">
                            <div class="section-title">
                                <h2>About Shobha's Dance School, Fitness Center and Event Company</h2>
                                <p>Shobha Dance School, Fitness Center and Event Company was found in 12-05-2012 by Shreyas and team with a sight of presuming calibre of pedagogy in the field of dance and fitness with a broader Mindset of event management. Shobha's stands for professional infrastructure at affordable prices in India.</p>
                                <a href="#" class="btn-link mb20">
                        <i class="icon-right-arrow"></i>&nbsp;more about us</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40 ">
                            <div class="section-title">
                                <h2>Meet Our Team</h2>
                                <p>Shobha's Dance School, Fitness Center and Event Company cautiously not onlyhand-pick each members in Team be entitled to be pedagogue, but are also passionate about their work and provides motivation to achieve their goals.</p>
                                <a href="#" class="btn-link mb20">
                        <i class="icon-right-arrow"></i>&nbsp;meet tutors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3 class="mb40">Why Shobha's</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb30">
                                <div class="feature-blurb">
                                    <h5>PROFESSIONAL</h5>
                                    <p>Self motivated, Confident, Highly qualified, pre-defined goals etc.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  mb30">
                                <div class="feature-blurb">
                                    <h5>FIT YOUR SCHEDULE</h5>
                                    <p>Fit your schedule which fits you. we are open to help based on your convenient. </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb30">
                                <div class="feature-blurb">
                                    <h5>OPPORTUNITY</h5>
                                    <p>We always welcome talented people.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb30">
                                <div class="feature-blurb">
                                    <h5>OUR SUCCESS STORY</h5>
                                    <p>We have won may prizes and trophies... to be asked from shreyas. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="video-img">
                        <img src="assets/images/video_img.jpg" alt="" class="img-responsive">
                        <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="video-btn popup-youtube"><img src="assets/images/play_btn.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      