<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Gala Dance</h1>
                  <p>Gala night is a pleasant Evening which Is held in a specific place where different culture of the people come and enjoy there evening where they can talk, dance, sing, etc. </p>
                    <p>Shobha event company organises for the gala need with right knowledge , experience and attention by knowing their audience which make event need to spin night into unforgettable night.</p>
                    <p> After knowing the right audience, we decide the concept, gala location division etc. based on the creative idea.
                    </p>
                </div>
            </div>
        </div>
</div>