<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Product launch</h1>
                  <p>There are so many misconception regarding product launch as people think in the real world like only goods launch like Maggi, Nevia etc. so let’s come and understand  what is product launch. So Product launch means when a company decided to launch a new product in the market so that it will be basically available for the right customer. The product could be existing or new innovative product which company has made. A market research and other component before product development and product launch should be required. There are many phases of product launch like analysis, design, choosing right audience, target market etc.</p>
                    <p>Product launches are also classified into two types, soft launch and hard launch.</p>
                     <p> As with Shobha, we manage both types to make it successful. We do our homework, as company invested lot of investment of time and resources for training employees, press releases, promotional activities and events. </p>
                </div>
            </div>
        </div>
</div>