<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
    
                    Aerobics
                    What is it about?
                    Aerobic exercise is any physical activity that makes you sweat causes you to breathe harder and gets your heart beating faster than at rest. Aerobic refers to how your body uses oxygen to sufficiently meet energy demands during exercise. It is for of physical exercise that combines rhythmic aerobics exercise with strengthening and strength and strength training routines
                    How long its been  ?
                    The concept of Aerobics was pioneered in the United States by physician Kenneth H Cooper at Texas U.S and popularized in his books Aerobics. In 1968 cooper published his book titled Aerobics 
                    WHY US ?  If you want to take up with a difference then this place is for you. Yes, this fitness center combines Yoga and Aerobics to give you a whole some work out experience. Here you can avail training on artistic yoga, Aerobics and Meditation.
                    
                </div>
            </div>
        </div>
</div>