<div class="pdt80 pdb80">
        <div class="container">
      
          <!-- typography -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="mb30">Team Building</h1>
                  <p>Team building is a collective term for various activities used to increase social relationship, often involving collaborative tasks. It is designed based on the team and the time to combine many ways like learning, development etc. to improve efficiency and relationship between the team member. Basically it increases the formal relationship between the team member, many times it used to introduce new team member to the team to achieve high performance and reducing team members' role ambiguity.</p>
                    <p>Many type of activity involved in team building like gaming, task, in sports etc. It can be applied to group of people  in school, company, army, airlines etc.</p>
                  
                  
                 <p> With Shobha, innovations come in team building event to make it successful and fun activity.
                  </p>
    
                </div>
            </div>
        </div>
</div>